navbar -->
<div class="container" id="nav-container">
  <header class="main-header">
    <div class="site-logo" href="/">
      <p>Homework</p>
    </div>
  </header>
</div>

<div class="container"> <!-- start of master container -->
  
  <!-- search -->
  <div class="container" id="search-container">
    <div class="row">
      <form ng-submit="submit(); myValue = true" id="search-form" role="form">
        <div class="form-group move-down">
          <!-- <input type="text" class="form-control" ng-autocomplete ng-model="result" options="options" details="details"> -->
        </div>
        <button type="submit" class="btn btn-primary" id="main-button">Create New Assignment</button>
      </form>
    </div>
  </div>

  <div data-ng-if="myValue"> <!-- start hide -->
    <div class="container"> <!-- main container -->
      <div class="row"> <!-- main row -->


        <!-- left col -->
        <div class="col-xs-3" id="venue-column">
          <h2>Assignments</h2>
            <div ng-repeat="assignment in assignments" ng-click="getDescription(assignment)" class="well" id="venue-repeat">
              <li><h6><b>{{assignment.title}}</li></h6></b>
              <p>{{assignment.due_at | date: "fullDate"}}</p>
          </div>
        </div>


        <!-- right col -->
    <!--     <div class="container">
          <div class="col-xs-8 col-xs-offset-1" id="venue-column">
            <button type="submit" class="btn btn-primary" ngclick="toggleCustom()" id="">Description</button>
            <button type="submit" class="btn btn-primary" id="">Submissions</button>
            <span class="well" id="venue-repeat" ng-hide="custom">
              <h3>{{description.title}} <span class="date">{{description.created_at | date: "fullDate"}}</span></h3>
              <h4>{{description.description}}</h4>
            </span>
            <div ng-show="custom"></div>
          </div>
        </div> -->

        <!-- right col -->
        <div class="container">
          <div class="col-xs-8 col-xs-offset-1" id="venue-column">
            <button type="submit" class="btn btn-primary" ng-click="toggleCustom()">Description</button>
              <div ng-hide="custom" class="well" id="venue-repeat">
                <h3>{{description.title}} <span class="date">{{description.created_at | date: "fullDate"}}</span></h3>
                <h4>{{description.description}}</h4>
              </div>
              <span ng-show="custom"></span>
          </div>
        </div>


      </div> <!-- end of main row -->
    </div> <!-- end of main container -->

    <div class="container" id="foursquare-pictures">
      <div class="container" id="pictures-container">
        <div class="row" id="pictures-row">
          <div class="col-lg-12">
            <div class="cover-container">
              <div ng-repeat="picture in pictures" class="cover-item">
                <img ng-src="{{picture.prefix}}183x183{{picture.suffix}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end hide -->

</div> <!-- end of master container