<div class="well" id="assignment-repeat" ng-repeat="submission in submissions" >
	  <section id="left">
	    <div id="userStats" class="clearfix">
	      <div class="pic">
	        <img ng-src="{{submission.creator.avatars.large}}">
	      </div>
	      <div class="data">
	        <h1>{{submission.creator.first_name}} {{submission.creator.last_name}}</h1>
	        <h1></h1>
	        <h5>Submitted on {{submission.submitted_at | date: "fullDate"}}</h5>
	        <span class="right" ng-show="!showDetails" ng-click="showDetails = ! showDetails"><img src="../../../images/up.png" class="right"></span>
	        <span class="right" ng-show="showDetails" ng-click="showDetails = ! showDetails"><img src="../../../images/down.png" class="right"></span>
	      </div>
	    </div>
	  <div ng-show="showDetails">{{submission.content}}</div>
	</section>
</div>
