/*======= Global Styling ============*/



*:focus {
  outline: 0 !important;
}

a {
  color: rgba(0, 0, 0, 1);
}

body {
  background: url(/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.form-control {
  margin: auto;
  max-width: 500px;
}


/*======= Main Content Styling ============*/

.date {
  float: right;
  font-size: 20px;
}

#assignment-column {
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  /*height: 800px;*/
  overflow-x: hidden;
}

#map-column {
  padding-left: 0;
  padding-right: 0;
  padding-right: 10px;
}

#assignment-repeat {
  font-size: 20px;
  font-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  background:rgba(255, 255, 255);
  background: transparent;
  overflow-x: hidden;
}

#assignment-repeat:hover {
  -webkit-box-shadow: inset 0 0 1em rgba(18, 12, 8, .6);
  -moz-box-shadow: inset 0 0 1em rgba(18, 12, 8, .6);
}

.tab2 {
  margin-left: 15px;
}

.assignment {
  font-size: 23px;
}

.date2 {
  font-size: 15px;
  position: left;
}

.highlighted {
  background-color: blue;
}

.selected {
  color: #FF9800;
}

.descSelected {
  background-color: #FF9800;
}

.subSelected {
  background-color: #FF9800;
}

.description {
  padding-top: 10px;
}

.center {
  position: center;
  font-size: 45px;
}

.right-side {
  padding-top: 40px;
}


/*======= Button Styling ============*/

.folder {
  background-color: #FF9800;
}

.btn-primary {
  /*background-color: #FF9800;*/
}

#main-button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
}

#main-button:hover {
  color: #ffffff;
  background: rgba(214, 140, 18, .7);
  -webkit-transition: color .55s;
  -moz-transition:    color .55s;
  -ms-transition:     color .55s;
  -o-transition:      color .55s;
}

/*======= Form Styling ============*/

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: rgba(70, 70, 70, .1);
  box-shadow: 0 1px 1px rgba(214, 140, 18, 1) inset, 0 0 8px rgba(214, 140, 18, 1);
}

/*======= Profile Styling ============*/

#userStats { display: block; 
  width: auto; -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  padding: 12px; 
}
 
#userStats .pic { 
  float: left; 
  display: block; 
  margin-right: 10px; 
  padding: 7px; 
  background: #fff; 
  border: 1px solid #ccc;
}


.content {
  font-size: 18px;
}

.right {
  float: right;
}
